body {
  font: 100% Montserrat, sans-serif;
  color: #333;
  background: url(texture.png.png);
}

/*mobilversion (upp till padda portrait)*/
@media (max-width: 768px) {
  img {
    width: 100%;
  }
}
/*Padda portrait)
@media (min-width: 769px and max-width: 992px) {
  img {
    width: 50%;
  }
}*/
main {
  margin: 90px;
}
main h1, main h2, main h3 {
  text-align: left;
  padding-left: 40px;
}

.container p {
  padding-left: 40px;
}

.Eliq p {
  padding-left: 40px;
}

.Willys p {
  padding-left: 40px;
}

.topnav {
  padding-left: 90px;
  padding-top: 15px;
  height: 60px;
  background-color: #FFFEFE;
}

.topnav a {
  float: top;
  color: #black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

/* Color of links on hover */
.topnav a:hover {
  color: black;
}

/* Color to the active/current link */
.topnav a.active {
  color: #606060;
  text-decoration: overline;
}

.container img {
  position: absolute;
  bottom: 0;
  right: 2%;
}

section.container {
  height: 600px;
  border-radius: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 20px grey;
  background: linear-gradient(to bottom, #DACFD3 0%, #DACFD3 50%, white 50%, white 100%);
  margin-bottom: 90px;
  position: relative;
}
section.container h1 {
  padding-top: 90px;
}
section.container p.intro {
  padding-top: 30px;
}
section.container p.projects {
  padding-top: 190px;
}

article.title {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #DACFD3;
  box-shadow: 0px 0px 20px grey;
  width: 100%;
  height: 106px;
  position: relative;
}

.title h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.Eliq {
  max-width: 50%;
}

article.Eliq {
  height: 350px;
  background: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px grey;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
  position: relative;
  margin-top: 40px;
}
article.Eliq h3 {
  padding-top: 60px;
}
article.Eliq p {
  padding-top: 20px;
}
article.Eliq a {
  color: #606060;
}

.Eliq a {
  margin: 40px;
}

section.Eliq.image {
  width: 50%;
  float: right;
  margin-top: 40px;
}
section.Eliq.image img {
  width: 100%;
  height: 350px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 20px grey;
}

section.Willys {
  max-width: 50%;
  clear: both;
  margin-top: 40px;
}

article.Willys {
  height: 350px;
  background: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px grey;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
  position: relative;
  margin-top: 40px;
}
article.Willys h3 {
  padding-top: 60px;
}
article.Willys p {
  padding-top: 20px;
}
article.Willys a {
  color: #606060;
}

.Willys a {
  margin: 40px;
}

section.Willys.image {
  width: 50%;
  float: right;
  clear: none;
  margin-bottom: 120px;
}
section.Willys.image img {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px grey;
}

footer {
  clear: both;
  position: relative;
  padding-left: 120px;
  padding-bottom: 130px;
  padding-top: 130px;
  width: 100%;
  height: 100%;
  background: #FFFEFE;
}
footer a {
  color: #606060;
}

.footer img {
  height: 400px;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 4%;
}

/* visited link */
a:visited {
  color: #836D70;
}

a:hover {
  color: #606060;
}

/*CONTACT & ABOUT*/
.title h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact {
  height: 600px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 20px grey;
  background-color: white;
  padding-top: 80px;
  padding-left: 40px;
  margin-bottom: 90px;
}

.contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

button {
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: #DAD0D3;
}

/*CASE STUDY*/
main.case {
  margin: 0px;
}

.row {
  padding-bottom: 40px;
}

.banner {
  margin-bottom: 60px;
}

.caption {
  height: 120px;
  background: white;
  background-color: white;
  box-shadow: 0px 0px 20px grey;
  padding-bottom: 20px;
  padding-right: 20px;
}

.caption h2 {
  padding-left: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 120px;
}

.introduction .row, .analysis .row, .usability .row, .ideating .row, .wireframeing .row, .key .row {
  margin-left: 120px;
  margin-right: 120px;
}

.process {
  padding-left: 120px;
  padding-right: 120px;
}

.introduction {
  background-color: white;
  padding-top: 60px;
}

.process {
  background-image: url(purpletexture.png);
  padding-top: 60px;
}
.process .box {
  width: 100%;
  text-align: center;
  height: 90%;
  border-radius: 20px;
  padding: 20px;
  margin-left: 0px;
  margin-bottom: 5%;
  background-color: white;
}
.process .box img {
  padding-bottom: 10px;
}

.analysis {
  background-color: white;
  padding-top: 60px;
}
.analysis img {
  width: 100%;
}

.usability {
  background-color: #E6E6E6;
  padding-top: 60px;
}
.usability img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ideating {
  background-color: white;
  padding-top: 60px;
}
.ideating img {
  width: 80%;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.wireframeing {
  background-image: url(purpletexture.png);
  padding-top: 60px;
}
.wireframeing img {
  width: 100%;
}

.key {
  background-color: white;
  padding-top: 60px;
  margin-bottom: 120px;
}
.key img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
